@use "../mixin" as mixin;

.accordion {
	&--lv-1 {
		> li {
			&:not(:last-child) {
				border-bottom: solid 1px #000000;
			}
			> a {
				display: block;
				padding: 10px 0;
			}
		}
	}
	&--lv-2 {
		border-top: solid 1px #000000;
		background-color: #eeeeee;
		> li {
			&:not(:last-child) {
				border-bottom: solid 1px #000000;
			}
			> a {
				display: block;
				padding: 10px 0;
			}
		}
	}
}