@use "../mixin" as mixin;

.fade-in {
	opacity: 0;
	&.is-animated {
		animation-name: fade-in;
		animation-duration: 0.8s;
		animation-fill-mode: both;
	}	
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.zoom-in {
	opacity: 0;
	transform: scale(0.9);
	&.is-animated {
		animation-name: zoom-in;
		animation-duration: 0.4s;
		animation-fill-mode: both;
	}
}
@keyframes zoom-in {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.fade-in-up {
	opacity: 0;
	transform: translate(0, 100%);
	&.is-animated {
		animation-name: fade-in-up;
		animation-duration: 0.8s;
		animation-fill-mode: both;
	}	
}
@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translate(0, 100%);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.fade-in-left {
	opacity: 0;
	transform: translate(-100%, 0);
	&.is-animated {
		animation-name: fade-in-left;
		animation-duration: 0.8s;
		animation-fill-mode: both;
	}
}
@keyframes fade-in-left {
	0% {
		opacity: 0;
		transform: translate(-100%, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.fade-in-right {
	opacity: 0;
	transform: translate(100%, 0);
	&.is-animated {
		animation-name: fade-in-right;
		animation-duration: 0.8s;
		animation-fill-mode: both;
	}
}
@keyframes fade-in-right {
	0% {
		opacity: 0;
		transform: translate(100%, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.slide-in-mask-left {width: 100px;
	overflow: hidden;
	&.is-animated {
		> * {
			animation-name: slide-in-mask-left;
			animation-duration: 0.8s;
			animation-fill-mode: both;
			&::before {
				animation-name: slide-in-mask-left-child;
				animation-duration: 0.8s;
				animation-delay: 0.4s;
				animation-fill-mode: both;
			}
		}
	}
	> * {
		transform: translate(-100%, 0);
		&::before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
			transform-origin: right center;
			width: 100%;
			height: 100%;
			background-color: #000000;
			content: "";
		}
	}
}
@keyframes slide-in-mask-left {
	0% {
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes slide-in-mask-left-child {
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(0, 1);
	}
}

.slide-in-mask-right {
	overflow: hidden;
	&.is-animated {
		> * {
			animation-name: slide-in-mask-right;
			animation-duration: 0.8s;
			animation-fill-mode: both;
			&::before {
				animation-name: slide-in-mask-right-child;
				animation-duration: 0.8s;
				animation-delay: 0.4s;
				animation-fill-mode: both;
			}
		}
	}
	> * {
		transform: translate(100%, 0);
		&::before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
			transform-origin: left center;
			width: 100%;
			height: 100%;
			background-color: #000000;
			content: "";
		}
	}
}
@keyframes slide-in-mask-right {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes slide-in-mask-right-child {
	0% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(0, 1);
	}
}