@use "../mixin" as mixin;

.bg {
	width: 100%;
	height: 200px;
	background-image: url(#{mixin.$img-path}img-1.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: mixin.$color-g-1;
}