@use "../mixin" as mixin;

.btn-5 {background: mixin.$color-g-13;
	display: block;
	position: relative;
	cursor: pointer;
	&::before {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 9px;
		height: 1px;
		background: mixin.$color-g-1;
		content: "";
	}
	&::after {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 1px;
		height: 9px;
		background: mixin.$color-g-1;
		content: "";
	}		
}