@use "../mixin" as mixin;

.btn-4 {background: mixin.$color-g-13;
	display: block;
	position: relative;
	cursor: pointer;
	&::before {
		display: block;
		position: absolute;
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 15%) rotate(135deg);
		width: 5px;
		height: 5px;
		border-top: 1px solid mixin.$color-g-1;
		border-right: 1px solid mixin.$color-g-1;
		content: "";
	}
	&--type-2 {
		&::before {
			top: 50%;
			bottom: auto;
			transform: translate(-50%, -15%) rotate(-45deg);
		}
	}
}