@use "../mixin" as mixin;

.btn {background: mixin.$color-g-13;
	display: block;
	position: relative;
	width: 50px;
	height: 50px;	
	cursor: pointer;
	&__item {
		display: block;
		position: absolute;
		top: 25px;
		left: 20px;
		width: 10px;
		height: 1px;
		background: mixin.$color-g-1;
		&--1 {
			margin-top: -3px;
		}
		&--2 {

		}
		&--3 {
			margin-top: 3px;
		}
	}
	&--type-2 {
		.btn {
			&__item {
				&--1 {
					margin-top: 0;
					transform: rotate(45deg);
				}
				&--2 {
					display: none;
				}
				&--3 {
					margin-top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}	
}