@use "../mixin" as mixin;

.btn-3 {background: mixin.$color-g-13;
	display: block;
	position: relative;
	cursor: pointer;
	&::before {
		display: block;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(15%, -50%) rotate(45deg);
		width: 5px;
		height: 5px;
		border-top: 1px solid mixin.$color-g-1;
		border-right: 1px solid mixin.$color-g-1;
		content: "";
	}
	&--type-2 {
		&::before {
			right: auto;
			left: 50%;
			transform: translate(-15%, -50%) rotate(-135deg);
		}
	}
}