@use "../mixin" as mixin;

.btn-2 {background: mixin.$color-g-13;
	display: block;
	position: relative;
	cursor: pointer;
	&::before {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 9px;
		height: 1px;
		background: mixin.$color-g-1;
		content: "";
	}
	&::after {
		display: block;
		position: absolute;
		top: 50%;
		right: 4px;
		transform: translateY(-50%);
		width: 1px;
		height: 9px;
		background: mixin.$color-g-1;
		content: "";
	}
	&--type-2 {
		&::after {
			content: none;
		}
	}	
}