@use "../mixin" as mixin;

.button {
	width: 100%;
	height: 50px;
	padding: 16px 16px;
	border: 1px solid mixin.$color-g-1;
	box-sizing: border-box;
	@include mixin.font-size(mixin.$font-size-10);
	line-height: mixin.$line-height-1;
}