@use "../mixin" as mixin;

.canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	width: 100%;
	height: 100%;
	> canvas {
		display: block;
		width: 100%;
		height: 100%;
		background: #000000;
	}
}