@use "../mixin" as mixin;

.carousel {
	width: 100%;
	height: auto;
	&--2 {
		overflow: hidden;
		> .slick-list {
			margin-right: -20px;
			> .slick-track {
				margin-left: 0;
				margin-right: 0;
				> .slick-slide {
					margin-right: 20px;
				}
			}
		}		
	}
	&.slick-loading {
		> .slick-list {
			background: #fff url('/assets/img/common/carousel-loader.gif') center center no-repeat;
		}
	}
	&__btn {
		display: block;
		position: absolute;
		top: 50%;
		z-index: 10;
		transform: translate(0, -50%);
		width: 50px;
		height: 50px;
		background: mixin.$color-g-1;
		cursor: pointer;
		&--prev {
			left: 0;
		}
		&--next {
			right: 0; 
		}		
	}
	&__dots {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		@include mixin.font-size(0); //inline-block で生じる隙間を削除
		text-align: center;
		> li {
			display: inline-block;
			position: relative;
			width: 20px;
			height: 20px;
			margin: 0 5px;
			background: mixin.$color-g-16;
			@include mixin.font-size(mixin.$font-size-1);
			cursor: pointer;
			&.slick-active {
				opacity: mixin.$opacity-5;
			}
		}
	}	
	&__dot {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 10px;
		height: 10px;
		background: mixin.$color-g-1;
	}
	> .slick-list {
		> .slick-track {
			> .slick-slide {
				> div {
					@include mixin.font-size(0); //inline-block で生じる隙間を削除
					> div {
						@include mixin.font-size(mixin.$font-size-10);
					}
				}
			}
		}
	}
}