@use "../mixin" as mixin;

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 110;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: rgba(mixin.$color-g-1, mixin.$opacity-4);
	-webkit-overflow-scrolling: touch;
	&__container {
		display: table;
		width: 100%;
		min-height: 100%;
	}
	&__container-inner {
		display: table-cell;
		padding: 15px;
		vertical-align: middle;
		@include mixin.mq-up (md) {
			padding: 40px;
		}		
	}
	&__content {
		margin: 0 auto;
		max-width: 900px;
	}	
	&__header {
		position: relative;
		width: 100%;
		height: 50px;
		background: mixin.$color-g-16;
	}
	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
	}	
	&__body {
		width: 100%;
		background: mixin.$color-1;
	}
}