@use "../mixin" as mixin;

.page-menu {	
	&__overlay {
		visibility: hidden;
		opacity: mixin.$opacity-1;
		transition: opacity 0.2s ease 0s, visibility 0s ease 0.2s;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 110;
		width: 100%;
		height: 100%;
		background: mixin.$color-g-1;
	}
	&__content {
		visibility: hidden;
		left: -85%;
		transition: left 0.2s ease 0s, visibility 0s ease 0.2s;
		position: fixed;
		top: 0;
		z-index: 120;
		width: 85%;
		height: 100%;
		background: mixin.$color-1;
		> div {
			width: 100%;
			height: 100%;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
	&__btn-overlay {
		visibility: hidden;		
		position: fixed;
		top: 0;
		left: 85%;
		z-index: 130;
		width: 15%;
		height: 100%;
	}
	&.is-show {
		.page-menu {
			&__overlay {
				visibility: visible;
				opacity: mixin.$opacity-4;
				transition: opacity 0.2s ease 0s, visibility 0s ease 0s;
			}
			&__content {
				visibility: visible;
				left: 0%;
				transition: left 0.2s ease 0s, visibility 0s ease 0s;
			}
			&__btn-overlay {
				visibility: visible;
			}
		}
	}	
}