@use "../mixin" as mixin;

.sns-list {
	display: flex;
	&__item {
		> a {
			display: block;
			width: 20px;
			height: 20px;
			> svg {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}