@use "../mixin" as mixin;

.table {
	width: 100%;
	@include mixin.mq-down (md) {
		display: block;
		width: 100%;
		border-top: 1px solid mixin.$color-g-1;
	}	
	> tbody {
		@include mixin.mq-down (md) {
			display: block;
			width: 100%;
		}		
		> tr {
			@include mixin.mq-down (md) {
				display: block;
				width: 100%;
			}
			> th {
				border: 1px solid mixin.$color-g-1;
				box-sizing: border-box;
				background-color: mixin.$color-g-9;
				@include mixin.mq-down (md) {
					display: block;
					width: 100%;
					border-top-width: 0;
				}
			}
			> td {
				border: 1px solid mixin.$color-g-1;
				box-sizing: border-box;
				@include mixin.mq-down (md) {
					display: block;
					width: 100%;
					border-top-width: 0;
				}
			}
			&:nth-child(2) {
				> th {
					&:nth-of-type(2) {
						background-color: mixin.$color-g-13;
					}
				}
			}
			&:nth-child(3) {
				> th {
					background-color: mixin.$color-g-13;
				}
			}
		}
	}
}