@use "../mixin" as mixin;

.text-box-wrapper {
	width: 100%;	
	position: relative;
	> span:nth-of-type(1) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		background: mixin.$color-g-1;
	}
	> span:nth-of-type(2) {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 25px;
		height: 25px;
		background: mixin.$color-g-1;
	}	
}