$breakpoint-up: (
	'sm': '(min-width: 400px)',
	'md': '(min-width: 768px)',
	'lg': '(min-width: 1000px)',
	'xl': '(min-width: 1200px)',
);

$breakpoint-down: (
	'sm': '(max-width: 399px)',
	'md': '(max-width: 767px)',
	'lg': '(max-width: 999px)',
	'xl': '(max-width: 1199px)',
);

@mixin mq-up($breakpoint: md) {
	@media #{map-get($breakpoint-up, $breakpoint)} {
		@content;
	}
}

@mixin mq-down($breakpoint: md) {
	@media #{map-get($breakpoint-down, $breakpoint)} {
		@content;
	}
}