$img-path: "../img/";

$font-family-yugo: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

$font-size-1: 1;
$font-size-2: 8;
$font-size-3: 9;
$font-size-4: 10;
$font-size-5: 11;
$font-size-6: 12;
$font-size-7: 13;
$font-size-8: 14;
$font-size-9: 15;
$font-size-10: 16;
$font-size-11: 18;
$font-size-12: 20;
$font-size-13: 22;
$font-size-14: 24;
$font-size-15: 26;
$font-size-16: 28;
$font-size-17: 32;
$font-size-18: 36;

$line-height-1: 1.0;
$line-height-2: 1.2;
$line-height-3: 1.4;
$line-height-4: 1.6;
$line-height-5: 1.8;
$line-height-6: 2.0;
$line-height-7: 2.2;

$letter-spacing-1: 0;
$letter-spacing-2: .05em;

$color-1: #ff0000;
$color-g-1: #000000;
$color-g-2: #111111;
$color-g-3: #222222;
$color-g-4: #333333;
$color-g-5: #444444;
$color-g-6: #555555;
$color-g-7: #666666;
$color-g-8: #777777;
$color-g-9: #888888;
$color-g-10: #999999;
$color-g-11: #aaaaaa;
$color-g-12: #bbbbbb;
$color-g-13: #cccccc;
$color-g-14: #dddddd;
$color-g-15: #eeeeee;
$color-g-16: #ffffff;

$opacity-1: 0;
$opacity-2: 0.2;
$opacity-3: 0.4;
$opacity-4: 0.6;
$opacity-5: 0.8;
$opacity-6: 0.9;
$opacity-7: 1.0;

$animation-speed-1: 0s;
$animation-speed-2: 0.2s;
$animation-speed-3: 0.4s;
$animation-speed-4: 0.6s;
$animation-speed-5: 0.8s;
$animation-speed-6: 1.0s;